BOT_TOKEN=
CHANNEL_ID=@yourchannel
FB_PAGE_ID=
FB_PAGE_TOKEN=
WHATSAPP_NUMBER=918830782569
WHATSAPP_API_KEY=
GENIUS_API=
AMAZON_US_TAG=dainty04-20
AMAZON_IN_TAG=dainty04-21
DEFAULT_ASIN=B0D3H6XYZ1
PORT=8080
AUTO_POST_INTERVAL=14400
DATABASE_PATH=data/affiliate_bot.db
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
SECRET_KEY=change-me-please



































